* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input {
    height: 30px;
    width: 220px;
    font-size: .75em;
}

button {
    display: block;
    height: 30px;
    width: 100px;
    font-size: 0.6em;
    cursor: pointer;
    margin: 1%;
}

.output {
    height: 400px;
    width: 700px;
    margin: auto;
    margin-top: 15%;
    font-size: 2em;
}

.replay {
    height: 50px;
    width: 125px;
}